    /* 초기화 */
    * {
        margin: 0;
        padding: 0;
        font: normal 12px '돋움';
    }

    ul, ol {list-style: none;}
    a {text-decoration: none; color: #111;}

    #wrapper {}

    /* 회원 - 로그인 */
    #user {}
    #user.login {
        width: 360px;
        height: auto;
        margin: 100px auto;
    }
    #user.login > form {
        position: relative;
        padding: 20px 20px 20px 50px;
        border: 1px solid #cfded8;
        border-bottom: 0;
        background: #fff;
        margin: 0;
    }
    #user.login > form > table {}
    #user.login > form > table img {
        width: 20px;
    }
    #user.login > form > table input {
        width: 162px;
        height: 22px;
        margin: 0 0 5px 0px;
        border: 1px solid #e4eaec;
        background: #f7f7f7;
        color: #000;
        outline: none;
    }
    #user.login > form > .btnlogin { 
        position: absolute;
        right: 52px;
        top: 22px;
        width: 60px;
        height: 55px;
        padding: 8px;
        border: 1px solid #bebebe;
        background: #fdfdfd;
        color: #222;
        outline: none;
    }
    #user.login > .info {
        padding: 20px;
        border: 1px solid #cfded8;
        background: #f5f6fa;
        overflow: hidden;
    }
    #user.login > .info > p {
        padding: 10px 0;
    }
    #user.login > .info > a {
        float: right;
    }


    /* 회원 - 약관 */
    #user.terms {
        width: 600px;
        height: auto;
        margin: 60px auto;
    }
    #user.terms > table {
        width: 100%;
        border-top: 2px solid #111;
    }
    #user.terms > table > caption {
        text-align: left;
        font-weight: bold;
        padding: 10px 0;
    }
    #user.terms > table tr {}

    #user.terms > table tr > td {
        padding: 6px 10px;
        border: 1px solid #e9e9e9;
    }
    #user.terms > table textarea {
        width: 100%;
        height: 200px;
        resize: none;
        border: 1px solid #e4eaec;
        background: #f7f7f7;
        padding: 2px;
        outline: none;
    }
    #user.terms > table p {
        float: right;
    }
    #user.terms > table p > input {}
    
    #user.terms > div {
        padding: 20px 0;
        text-align: right;
    }
    #user.terms > div > a {
        padding: 8px;
        border: 1px solid #bebebe;
        color: #111
    }
    #user.terms > div > a:nth-child(1) {background: #fdfdfd;}
    #user.terms > div > a:nth-child(2) {background: #e9e9e9;}

    
    /* 회원 - 회원가입 */

    #user.register {
        width: 600px;
        margin: 60px auto;
    }
    #user.register table {
        width: 100%;
        border-top: 2px solid #000;
        border-collapse: collapse;
        border-spacing: 0;
    }
    #user.register table caption {
        padding: 10px 0;
        font-weight: bold;
        text-align: left;
    }
    #user.register table td {}
    #user.register table td:nth-child(1) {
        width: 70px;
        padding: 7px 13px;
        border: 1px solid #e9e9e9;
        background: #f5f8f9;
        text-align: left;
    }
    #user.register table td:nth-child(2) {
        padding: 7px 10px;
        border: 1px solid #e9e9e9;
        background: transparent;
    }
    #user.register table td > p {
        display: block;
        padding: 0 0 5px;
        line-height: 1.4em;
    }
    #user.register table input {
        height: 22px;
        border: 1px solid #e4eaec;
        background: #f7f7f7;
        color: #000;
        vertical-align: middle;
        line-height: 2em;
        margin-bottom: 2px;
    }
    #user.register table div {}
    #user.register table div:nth-child(1) > input {
        height: 22px;
        border: 1px solid #e4eaec;
        background: #f7f7f7;
        color: #000;
        vertical-align: middle;
        line-height: 2em;
        margin-bottom: 2px;
    }
    #user.register table div:nth-child(2) > input {
        height: 22px;
        border: 1px solid #e4eaec;
        background: #f7f7f7;
        color: #000;
        vertical-align: middle;
        line-height: 2em;
        margin-bottom: 2px;
    }
    #user.register table div:nth-child(3) > input {
        height: 22px;
        border: 1px solid #e4eaec;
        background: #f7f7f7;
        color: #000;
        vertical-align: middle;
        line-height: 2em;
        margin-bottom: 2px;
    }
    #user.register table button {
        padding: 4px;
        border: 1px solid #bebebe;
        background: #e9e9e9;
        color: #222;
        cursor: pointer;
    }
    
    #user.register > form > div {
        float: right;
        margin-top: 16px;
    }
    #user.register > form > div > .btnCancel {
        padding: 8px;
        border: 1px solid #bebebe;
        background: #fdfdfd;
        color: #222;
        cursor: pointer;
    }
    #user.register > form > div > .btnRegister {
        padding: 7px;
        border: 1px solid #bebebe;
        background: #e9e9e9;
        color: #222;
        cursor: pointer;
    }


    /* 게시판 공통 */
    #board {
        width: 720px;
        margin: 60px auto;
    }
    #board table {
        width: 100%;
        border-top: 2px solid black;
        box-sizing: border-box;
        border-collapse: collapse;
        border-spacing: 0px;
        margin-top: 6px;
    }
    #board table th {
        padding: 12px;
        border-top: 1px solid #d1dee2;
        border-bottom: 1px solid #d1dee2;
        background: #e5ecef;
        color: #383833;
    }
    #board table td {
        padding: 12px 6px;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
    }
    #board table td:nth-child(1) {
        width: 100px;
        background: #f5f8f9;
        text-align: center;
    }
    #board table input {
        width: 100%;
        height: 24px;
        border: 0;
        outline: none;
    }
    #board table textarea {
        width: 100%;
        height: 280px;
        resize: none;
        border: 0;
        outline: none;
    }
    #board .btnWrite{padding: 8px; border: 1px solid #3b3c3f; background: #4b545e; color: #fff;}
    #board .btnCancel{padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
    #board .btnDelete{padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
    #board .btnModify{padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
    #board .btnList{padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
    
    /* 글목록 */
    #board.list {
        position: relative;
    }
    #board.list > article > p {
        position: absolute;
        right: 0;
        top: 0;
    }
    #board.list table tr > td:nth-child(1) {width: 50px; text-align: center; background: #fff;}
    #board.list table tr > td:nth-child(2) {width: auto; text-align: left;}
    #board.list table tr > td:nth-child(3) {width: 100px; text-align: center;}
    #board.list table tr > td:nth-child(4) {width: 100px; text-align: center;}
    #board.list table tr > td:nth-child(5) {width: 50px; text-align: center;}
    #board.list > .paging {
        padding: 20px;
        text-align: center;
    }
    #board.list > .paging > a {
        padding: 8px;
        background: #f2f2f2;
        border: 1px solid #d7d7d7;
    }
    #board.list > .paging > .current {
        border: 1px solid #6d6d6d;
        background: #888;
        color: #fff;
    }
    #board.list > .btnWrite {
        position: absolute;
        right: 0;
        bottom: 14px;
    }
    
    /* 글쓰기 */

    #board.write table {
        width: 100%;
        border-top: 2px solid #111;
        border-collapse: collapse;
    }
    #board.write table td {
        padding: 8px 5px;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
    }
    #board.write > td:nth-child(1) {
        width: 100px;
        background: #f5f8f9;
        text-align: center;
    }

    #board.write > form > .btns {
        float: right;
        margin-top: 10px;
    }
    #board.write > form > div > .cancel {
        padding: 7px;
        border: 1px solid #d9ded9;
        background: #f2f5f9;
        color: #000;
    }
    #board.write > form > div > .submit {
        padding: 7px;
        border: 1px solid #3b3c3f;
        background: #4b545e;
        color: #fff;
    }   


    /* 글보기 */
    #board.view {}
    #board.view > div {
        padding: 16px 0;
        text-align: right;
    }
    #board.view > section {
        padding: 20px;
        border: 1px solid #e3e3e3;
        background: #f9f9f9;
        margin-bottom: 16px;
    }
    #board.view > section > h3 {
        font-weight: bold;
    }

    #board.view > .commentList > article {
        border-top: 1px dotted #999;
        margin-top: 10px;
        padding-top: 10px;
    }
    #board.view > .commentList > article > textarea {
        width: 100%;
        height: 60px;
        padding: 6px;
        box-sizing: border-box;
        resize: none;
        border: 0;
        outline: none;
        background: transparent;
    }
    #board.view > .commentList > article > div {
        text-align: right;
    }

    #board.view > .commentForm > form > textarea {
        width: 100%;
        height: 60px;
        border: 1px solid #e4eaec;
        margin: 10px 0;
        resize: none;
        outline: none;
    }
    #board.view > .commentForm > form > div {
        text-align: right;
    }

    /* 글수정 */

    #board.modify table {
        width: 100%;
        border-top: 2px solid #111;
        border-collapse: collapse;
    }
    #board.modify table td {
        padding: 8px 5px;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
    }
    #board.modify > td:nth-child(1) {
        width: 100px;
        background: #f5f8f9;
        text-align: center;
    }
    #board.modify > td:nth-child(2) {
        width: 100%;
        border: 0;
        resize: none;
    }
    #board.modify > form > .btns {
        float: right;
        margin-top: 10px;
    }
    #board.modify > form > div > .cancel {
        padding: 7px;
        border: 1px solid #d9ded9;
        background: #f2f5f9;
        color: #000;
    }
    #board.modify > form > div > .submit {
        padding: 7px;
        border: 1px solid #3b3c3f;
        background: #4b545e;
        color: #fff;
    }